VITE_API_URL="http://localhost:3000"

##AUTHENTICATION MODULE VARIABLES##
NEXT_PUBLIC_AUTH_FRAMEWORK="better-auth"
VITE_AUTH_EMAIL=true
VITE_AUTH_GOOGLE=false
VITE_AUTH_GITHUB=false
VITE_AUTH_LINKEDIN=false

##SUPPORT MODULE VARIABLES##
VITE_SUPPORT_MAIL=""
VITE_CALENDLY_BOOKING_URL=""
