EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_APP_URL=http://localhost:8081
EXPO_PUBLIC_AUTH_EMAIL=true
EXPO_PUBLIC_AUTH_GOOGLE=true
EXPO_PUBLIC_AUTH_GITHUB=true
EXPO_PUBLIC_AUTH_LINKEDIN=true
EXPO_PUBLIC_SUPPORT_MAIL=true
EXPO_PUBLIC_THEME=green
EXPO_PUBLIC_THEME_TYPE=dark
EXPO_PUBLIC_CALENDLY_BOOKING_URL=""
